#windows{
    background-color: white;
    width: 3.5rem; 
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(163, 161, 161, 0.566); 
}

#windows>img{
    height: 24px; 
} 

#icon {
    display: flex;
    align-items: center;
}

#icon>div>img {
    height: 24px;
    width: 24px;
}

#menu {
    font-size: 12px;
    background-color: rgb(236, 227, 227);
    height: 2.5rem;
    align-items: center;
    border-bottom: 1px solid rgba(163, 161, 161, 0.566);
    border-top: 3px solid rgb(0, 51, 153);
}

#menu>div {
    display: flex; 
    justify-content: space-around;  
}

#menu>div>p{
    padding: 0.5rem;
}

#forward {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#middle {
    display: flex;
}

#sidebar {
    border-right: 5px solid rgb(236, 227, 227);
    width: 30%;
}

#folders {
    width: 70%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;  
}

#folders>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 15%;
}

#folders>div>img {
    height: 4rem; 
}

#folders>div>a {
    text-decoration: none;
    color: black;
}

#sidebar>div{
    display: flex;
}

#sidebar>div>img {
    height: 30px;
}

#sidebar>div>button { 
    height: 10px;
    width: 10px;
    font-size: 12px;
    border: 1px solid rgb(0, 51, 153);
    font-family: Tahoma;
    font-weight: 900;
}

#navigate {
    display: flex;
    justify-content: space-between; 
    background-color: rgb(236, 227, 227);
    align-items: center;
    height: 5rem;
}

#navigate>div>img { 
    height: 24px;
    width: 24px; 
}

#navigate>div>div>img {
    display: flex;
    height: 24px;
    width: 24px; 
}

#folderssidebar {
    justify-content: space-between; 
    background-color: rgb(236, 227, 227);
}

#searchbar {
    background-color: rgb(236, 227, 227);
    height: 2rem;
    border-top: 1px solid rgba(163, 161, 161, 0.566);
    border-bottom: 1px solid rgba(163, 161, 161, 0.566);
}

#searchinput{
    background-color: white;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid rgba(0, 51, 153, 1);
    padding: 0.3%;
}

#searchinput>div {
    display: flex;
    align-items: center;
}