/* @font-face {
    font-family: tahoma;
    src: url(./resources/windows-xp-tahoma.ttf);
} */

body {
    width: 100%;
    margin: 0 auto;
    text-align: center; 
    font-family: Tahoma;
}

footer { 
    width: 100%; 
    height: 4vh;
    background: linear-gradient(to bottom, #003c78, #007dc5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
}

#icons {
    background: linear-gradient(to bottom, #0293e7, #75b1ed);
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
    font-size: 12px;
    padding-right: 5px;
    border-left: 2px solid #003162;
}

main {
    background-image: url('https://live.staticflickr.com/27/59290347_15553196fd.jpg');
    background-size: cover;
    font-size: 1rem;
    height: 95.85vh;
}

main>div{
    position: absolute;
}

main>div>button {
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: -1px 1px 0 #000,
    0.5px 0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000;
}

#start>img{
    height: 20px;
    width: 20px;
}

main>div>button>img{
    height: 2rem;
}

#icons>a>img {
    height: 20px;
    width: 20px;
} 

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40rem;
    width: 60.5rem;
    background: #fff;
    z-index: 1000; 
}
.popup iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.close-btn {
    position: absolute;
    top: 9px;
    right: 10px; 
    background: linear-gradient(307deg, rgba(255,51,80,1) 60%, rgba(255,255,255,1) 100%);
    border-radius: 7%;
    border: 1px solid white;
    color: white;
    font-size: 12px; 
    height: 24px;
    width: 24px;
}

.popup.active {
    display: block;
}

#start {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 27rem;
    width: 30rem;
    background: #fff;
    z-index: 1000;
}

#start iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#start.active {
    display: block;
}

#green-start-button {
    background: none; 
    border: none; 
    margin: 0; 
    padding: 0;  
}