@font-face {
    font-family: tahoma;
    src: url(./resources/windows-xp-tahoma.ttf);
}

body {
    width: 100%;
    margin: 0 auto;
    text-align: center; 
    font-family: tahoma;
    
}

main {
    border-radius: 7px; 
    height: 27rem;
    width: 30rem;
}


#top {
    background: linear-gradient(to bottom, #015ab2, #0a90dd); 
} 

#top>div {
    display: flex; 
    align-items: center;
}

#top>div>img {
    height: 4rem;
    border: 2px solid white;
    border-radius: 5%;
}

#top>div>p {
    margin-left: 1em;
    color: white;
    font-size: 1.5rem;
}

#orangeborder{
    background-color: orange;
    height: 2px;
    width: 70%;
    border-radius: 0 0 30% 30%;
    display: flex;
    justify-self: center;
}

#blackborder{
    border-bottom: 1px solid rgb(115, 113, 113);
    width: 80%;
    border-radius: 0 0 30% 30%;
    display: flex;
    justify-self: center; 
}

#main {
    display: flex;
    justify-content: space-between;
}

#white {
    width: 50%; 
}

#white>div {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-left: 0.5em;
}

#white>div>img {
    height: 24px;
}

#blue {
    background-color: rgb(153, 204, 255);
    width: 50%;
    border-right: 2px solid rgba(0, 51, 153, 1); 
}

#blue>div {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-left: 0.5em; 
}

#blue>div>img {
    height: 24px;
} 

#bottom {
    background: linear-gradient(to bottom, #003c78, #007dc5);
    display: flex;
    align-items: center;
    justify-content: right;
}

#bottom>div {
    display: flex;
    align-items: center; 
}

#bottom>div>p{
    color: white;
    margin-right: 0.5em;
}

#allprograms {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}