@font-face {
  font-family: tahoma;
  src: url(C:\Users\bogda\Documents\GitHub\portfolio\portfolio\src\assets\windows-xp-tahoma.ttf);
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center; 
  font-family: tahoma;
  /* font-family: Tahoma; */
}
