/* nav{
    display: flex;
    justify-content: space-between;
    align-items: end; 
    background-color: lightgray;
    color: black; 
}

nav ul li{
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: end; 
    background-color: lightgray;
    color: black;
} */

